[Unit]
# Unit file for CardanoPython script for AWS IoT Core
Description=Python Runner Service
Documentation=https://github.com/AylluAcademy-org/CardanoPython/wiki
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=${PYENV_ROOT}/versions/{CARDANOPY_ENV}/bin/python ${CARDANOPY_LIB}/src/app.py

[Install]
WantedBy=network-online.target